body
{
	padding:0%;
	margin:0%;
	height:100%;
	width:100%;
}
.jumbotron-fluid
{
	background-color: #6D7992;
	text-align: center;
	color: white;
	border:.5px solid black;
}
#logo
{
	float: left;
	width: 433px;
	height: 184px;
	margin-top: -4em;
}
.container-fluid
{
	
	width: 100%;
}
.card-body
{
	width: 100%;
	background-color: #bce3ff;
	height: 400px;

}
.container
{
	height: auto;

}